# OS specific styles 
.DS_STORE

compile_commands.json

# builds
/build/
/build-*/
Makefile


# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.log
*.tlog
*.lastbuildstate
ipch/
.vs/

# VS Code
.vscode/
*.code-workspace

.cache/
*.cache


